
<%= form_tag("/createEvent", :method => "get") do %>
  <div id="event_header">

    <div id="event_name">
      <div class="label">
        <%= label_tag(:event_name, "Event name"); %>
      </div>
      <div class="field">
        <%= text_field_tag(:event_name) %> <br />
      </div>
    </div>

<!--     <div id="event_description">
      <div class="label">
        <%= label_tag(:event_description, "Event description"); %>
      </div>
      <div class="field">
        <%= text_field_tag(:event_description) %> <br />
      </div>
    </div> -->

  </div>

  <div id="event_start">
    <h2>Event start</h2>

    <div class="field">
      <%= text_field_tag(:start_time, '', :placeholder => 'time') %> <br />
    </div>

    <div class="field">
      <%= text_field_tag(:start_month, '', :placeholder => 'month') %>
    </div>

    <div class="field">
      <%= text_field_tag(:start_day, '', :placeholder => 'day') %> 
    </div>

    <div class="field">
      <%= text_field_tag(:start_year, @current_year, :placeholder => 'year') %> <br />
    </div>
  </div>

  <div id="event_end">
    <h2>Event end</h2>

    <div class="field">
      <%= text_field_tag(:end_time, '', :placeholder => 'time') %> <br />
    </div>

    <div class="field">
      <%= text_field_tag(:end_month, '', :placeholder => 'month') %>
    </div>

    <div class="field">
      <%= text_field_tag(:end_day, '', :placeholder => 'day') %> 
    </div>

    <div class="field">
      <%= text_field_tag(:end_year, @current_year, :placeholder => 'year') %> <br />
    </div>
  </div>

    <div class="submit"> 
      <%= submit_tag("Create Event!"); %> <br />
    </div>
<% end %>



<!--
Form

Event Name
Start time
  time, month, day, year
End time
  time, month, day, year
  Description

--!>
