<h1>Calendar API</h1>

<%= form_tag("/createEvent", :method => "get") do %>
  <div class="label">
    <%= label_tag(:eventName, "Event Name"); %>
  </div>
  <div class="field">
    <%= text_field_tag(:eventName) %> <br />
  </div>

  <p>Event start</p>

  <div class="label">
    <%= label_tag(:start_time, "Time"); %> 
  </div>
    <%= text_field_tag(:start_time) %> <br />
  <div class="field">

  <div class="label">
    <%= label_tag(:start_month, "Month"); %>
  </div>
  <div class="field">
    <%= text_field_tag(:start_month) %>
  </div>

  <div class="label">
    <%= label_tag(:start_day, "Day"); %>
  </div>
  <div class="field">
    <%= text_field_tag(:start_day) %> 
  </div>

  <div class="label">
    <%= label_tag(:start_year, "Year"); %>
  </div>
  <div class="field">
    <%= text_field_tag(:start_year) %> <br />
  </div>

  <p>Event End</p>

  <div class="label">
    <%= label_tag(:end_time, "Time"); %> 
  </div>
  <div class="field">
    <%= text_field_tag(:end_time) %> <br />
  </div>

  <div class="label">
  <%= label_tag(:end_month, "Month"); %>
  <div class="field">
  <%= text_field_tag(:end_month) %>

  <div class="label">
    <%= label_tag(:end_day, "Day"); %>
  </div>
  <div class="field">
    <%= text_field_tag(:end_day) %> 

  <div class="label">
    <%= label_tag(:end_year, "Year"); %>
  </div>
  <div class="field">
    <%= text_field_tag(:end_day) %> <br />
  </div>

  <div class="submit"> 
    <%= submit_tag("Create Event!"); %> <br />
  </div>
<% end %>


<!--
Form

Event Name
Start time
  time, month, day, year
End time
  time, month, day, year
  Description

--!>
