<style>
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

	.dropdown-menu {
		position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: 1000;
	  float: left;
	  display: none;
	  min-width: 160px;
	  max-width: 220px;
	  _width: 160px;
	  padding: 4px 0;
	  margin: 0;
	  list-style: none;
	  background-color: #ffffff;
	  border-color: #ccc;
	  border-color: rgba(0, 0, 0, 0.2);
	  border-style: solid;
	  border-width: 1px;
	  -webkit-border-radius: 0 0 5px 5px;
	  -moz-border-radius: 0 0 5px 5px;
	  border-radius: 0 0 5px 5px;
	  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  -webkit-background-clip: padding-box;
	  -moz-background-clip: padding;
	  background-clip: padding-box;
	  *border-right-width: 2px;
	  *border-bottom-width: 2px;
	}

	.dropdown-menu a {
		display: block;
		text-decoration: none;
		padding:5px;
		color: #555;
	}
	
	.dropdown-menu a:hover {
		background: #ff3;
		
	}
	
</style>


<h1>Calendar API</h1>

<%= form_tag("/createEvent", :method => "get") do %>
  <div id="event_header">

    <div id="event_name">
      <div class="label">
        <%= label_tag(:event_name, "Event name"); %>
      </div>
      <div class="field">
        <%= text_field_tag(:event_name) %> <br />
      </div>
    </div>

    <div id="event_description">
      <div class="label">
        <%= label_tag(:event_description, "Event descripition"); %>
      </div>
      <div class="field">
        <%= text_field_tag(:event_description) %> <br />
      </div>
    </div>

  </div>

  <div id="event_start">
    <h2>Event start</h2>

    <div class="field">
<input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" placeholder="time" data-items="4" data-source='["+00:00", "+01:00", "+02:00", "+03:00", "+04:00", "+05:00", "+06:00", "+07:00", "+08:00", "+09:00", "+10:00", "+11:00", "+12:00", "+13:00", "+14:00", "+15:00", "+16:00", "+17:00", "+18:00", "+19:00", "+20:00", "+21:00", "+22:00", "+23:00", "+24:00"]'>
    </div>

    <div class="field">

<input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" placeholder="month" data-items="4" data-source='["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]'>

    </div>

    <div class="field">
      <%= text_field_tag(:start_day, '', :placeholder => 'day') %> 
    </div>

    <div class="field">
      <%= text_field_tag(:start_year, @current_year, :placeholder => 'year') %> <br />
    </div>
  </div>

  <div id="event_end">
    <h2>Event end</h2>

    <div class="field">
      <%= text_field_tag(:end_time, '', :placeholder => 'time') %> <br />

	<input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" placeholder="time" data-items="4" data-source='["+00:00", "+01:00", "+02:00", "+03:00", "+04:00", "+05:00", "+06:00", "+07:00", "+08:00", "+09:00", "+10:00", "+11:00", "+12:00", "+13:00", "+14:00", "+15:00", "+16:00", "+17:00", "+18:00", "+19:00", "+20:00", "+21:00", "+22:00", "+23:00", "+24:00"]'>
    </div>

    <div class="field">
	
<input type="text" placeholder="month" data-items="4" data-source='["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]'>

    </div>

    <div class="field">
      <%= text_field_tag(:end_day, '', :placeholder => 'day') %> 
    </div>

    <div class="field">
      <%= text_field_tag(:end_year, @current_year, :placeholder => 'year') %> <br />
    </div>
  </div>

    <div class="submit"> 
      <%= submit_tag("Create Event!"); %> <br />
    </div>
<% end %>



<!--
Form

Event Name
Start time
  time, month, day, year
End time
  time, month, day, year
  Description

-->



<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="/js/bootstrap-typeahead.js"></script>
